  /*#navs
  {
    background-color:#7bc2e0;
     
      padding: 0px auto;
      background-position: center; 
      background-repeat: no-repeat; 
     background-size: cover;
  }*/
@media (min-width: 320px) {
  #navs
  {
    
    background-image:url('navoa.jpg');
      padding: 0px auto;
      background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: black;
      
  }}
  @media (min-width: 768px) {
    #navs{
      background: none;
      background-color:#7bc2e0;
     
      padding: 0px auto;
      background-position: center; 
      background-repeat: no-repeat; 
     background-size: cover;
      
    }
    }

    .jumbotron {
      background: none;
    }
    @media (min-width: 320px) {
    #space
    {
        padding-top: 20px;
        margin-top: 50px;
        background-image:url('nss.png');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        color: rgb(0, 0, 0);
        text-align: center;
      
        
    }}
    @media (min-width: 768px) {
      #space{
      padding-top: 20px;
      margin-top: 50px;
      background-image:url('navoa.jpg');
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      color: rgb(0, 0, 0);
      text-align: center;
    }}
  
#ba
{
 background-color: blueviolet;
}
#navbarSupportedContent .nav-item
{
  color: rgb(228, 234, 235);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  margin: 0px 100px 0px 0px;
  padding: 0px auto;
  font-size: 20px;
 
  
}
#middle .h1
{
text-align: center;
}

#learn{
  display: table;
  margin: 0 auto;
}

#footer
{
  background-color: #34a7d8;
  color: aliceblue;
}
#footer .social-links
{
  color: aliceblue;
}
#copy
{
  text-align: center;
  background-color: rgb(6, 183, 236);
#gap-nav p
{
  color: aquamarine;
}
#ours
{
  text-align: center;
}
#H2
{
  
  margin-bottom: 0 auto;

}
#gap .w3-center
{

     padding-top: 20px;
      margin-top: 1000px;
      color: rgb(236, 20, 20);
      text-align: center;
}